.markdown-embed {
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;

}

.markdown-embed-content {
  padding: 0;
  margin: 0;
text-align:left;
}

.markdown-embed-title {
  display: none;
}
.markdown-embed-link {
  display: none;
}
.suez-one-regular {
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;
}
    @font-face {
    font-family: 'Suez One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Suez One Regular'), url('SuezOne-Regular.woff') format('woff');
    }
h1, h2, h3 {
  text-decoration: underline double #1ba136;
  font-family: 'Suez One Regular';
}