.markdown-embed {
  border: none!important;
  padding: 0!important;
  background: transparent!important;
  box-shadow: none!important;
  outline: none!important;
}

.markdown-embed-content {
  border: none!important;
  padding: 0!important;
  background: transparent!important;
  box-shadow: none!important;
  outline: none!important;
  margin: 0!important;
  text-align:left!important;
}

.markdown-embed-title, .markdown-embed-link {
  display: none!important;
}